:root{
    --body-bg-url: linear-gradient(rgb(189, 188, 188), rgb(33, 33, 33));
}
body{
    background: linear-gradient(rgb(189, 188, 188), rgb(33, 33, 33));
    min-height: 100vh;
    width: 100%;
}
.app {
    border-radius: 5px;
	box-shadow: 0 0 15px rgba(16, 15, 15, 0.7);
	color: white;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    min-height: 367px;
	min-width: 320px;
	position: relative;
    text-align: center;
    width: 100%;
}
.main-section{
    background: rgb(54, 53, 53);
    min-height: 340px;
	width: 100%;
}
.footer{
    width: 100%;
}

@media (min-width: 560px) and (max-width: 963px){
    body{
        background-image: var(--body-bg-url);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .app{
        max-width: 560px;
        width: 98%;
    }
}

@media (min-width: 964px){
    body{
        background-image: var(--body-bg-url);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 16vh;
    }
    .app{
        max-width: 1120px;
        width: 98%;
	}
}