.app {
	box-shadow: 0 0 3px gray;
	color: white;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	margin: 0 auto;
	min-width: 320px;
	position: relative;
  	text-align: center;
}
.section{
	background: rgb(54, 53, 53);
	width: 100%;
}
.footer{
    width: 100%;
}

@media (max-width: 559px){
    .app{
        width: 100%;
    }
}

@media (min-width: 560px) and (max-width: 963px){
    .app{
        max-width: 560px;
        width: 98%;
    }
}

@media (min-width: 964px){
    .app{
        margin: 16vh auto;
        max-width: 1120px;
        width: 98%;
	}
}