.city-log{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    list-style: none;
    margin: 0.5em 0;
    padding: 0;
}
.city-log li{
	background-color: rgba(48, 6, 11, 0.19);
	border: solid 1px rgba(97, 55, 55, 0.41);
	border-radius: 1em;
    color: rgb(221, 98, 98);
    cursor: pointer;
	display: grid;
    flex: 1;
    overflow: hidden;
    font-family: Assistant;
	font-size: calc( 13px + 0.1 * (16 – 13) * ( (100vw – 560px) / ( 560 – 320) ));
    margin: 0.5em 2px;
    max-width: 20%;
	padding: 0.2em 0;
	place-items: center;
}

.city-log li:hover{
    text-shadow: 0 0 2px rgb(192, 123, 123);
}
