@font-face{
    font-family: Assistant;
    src: url('../fonts/Assistant-Regular.ttf');
}
.date-string{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: rgb(49, 49, 49);
    font-family: Assistant;
    font-size: 19px;
    font-weight: 600;
    height: 3em;
    line-height: 3em;
    margin: 0 auto;
}