.main-section{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.section{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    line-height: 1.2em;
    max-width: 560px;
    min-width: 320px;
    min-height: 340px;
    width: 100%;
}
.date-wrapper{
    background: rgb(49, 49, 49);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.date-string{
    flex-basis: 90%;
    padding-left: 5%;
}
.settings-icon{
    flex-basis: 10%;
}
.settings-icon a{
    display: block;
    margin: 1em auto;
}
.settings-icon img{
    width: 24px;
}

@media (min-width: 964px){
    .section{
        width: 50%;
    }
}